---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Grid from "../components/Grid.astro";
import Project from "../components/Project.astro";
import Space from "../components/Space.astro";
import NoProject from "../components/NoProject.astro";

import { projects, noProjects, numProjects } from "../data/projects";
---

<Layout title="fmedinilla | Mis proyectos">
    <Title id="projects">Mis proyectos</Title>

    {noProjects && <NoProject />}

    {
        !noProjects && (
            <Grid n={numProjects}>
                {projects.map(({ name, img, techs, page }) => (
                    <Project name={name} img={img} techs={techs} page={page} />
                ))}
            </Grid>
        )
    }
    <Space />
</Layout>
