---
const { type, value } = Astro.props;
---

<div class="option">
    <span class="option__span">{type}</span>
    {
        type === "telegram" && (
            <a class="option__a" target="_blank" href={`https://t.me/${value}`}>
                {value}
            </a>
        )
    }

    {
        type === "email" && (
            <a class="option__a" target="_blank" href={`mailto://${value}`}>
                {value}
            </a>
        )
    }
</div>

<style>
    .option {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        gap: 0.5rem;
    }
    .option__span {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.7em;
    }
    .option__a {
        color: hsl(240, 50%, 50%);
    }
</style>
